<div class = "container" id="home-background">
  <div id="home-container">
      <img src="{{logo}}" width="800px">
      <h1>{{message}}</h1>
      <img src ="{{image}}">
      {{#if start}}
          <a href="{{{start}}}" class ="button">Start</a>
      {{/if}}
      {{#if skip}}
          <a href="{{{skip}}}" class="button">Skip</a>
      {{/if}}
      {{#if launch}}
          <a href="{{{launch}}}" class="button">Launch</a>
      {{/if}}
    </div>
</div>